@{
    if (ViewBag.ProductID != null)
    {
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";        
    }//if ProductID is null, the default _Layout will be applied
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<p>Search product...</p>