@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @* @ViewData["Title"] comes from Index.cshtml, Title is the key assigned at Index.cshtml ViewData["Title"] = "Home";
    We can repeat the same process for every view, otherwise the title would be the name of the url (localhost:7109/about-company)
    *@
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">Asp.Net Core LayoutViewsExample</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-company">About</a></li>
                <li><a href="/contact-support">Contact</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/search-products">Search Products</a></li>
                <li><a href="/order-products">Order Product</a></li>
            </ul>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
        <div class="footer-content">
            @RenderSection("footer_section", false)
        </div>
    </div>
    @* <script src = "file.js"></script> *@
    @* <script src="specificViewFile.js"></script> *@
</body>
</html>
