<div class="box">
    <h3>@ViewBag.Table.TableTitle</h3>
    <table class="table w-100">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person person in ViewBag.Table.Persons)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.JobTitle</td>
                </tr>
            }
        </tbody>
    </table>
</div>