<h1>Home</h1>

<partial name="_ListPartialView"></partial>
<div class="box">
    <partial name="_ListPartialView"></partial>

</div>
@* Partial tag must be imported explicitly in a _ViewImports.cshtml File*@