
<h1>Home</h1>
@{
    //Initialize the ListModel with some data
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>()
    {
        "USA",
        "CANADA",
        "JAPAN",
        "MEXICO"
    };
}
@*Pass the listModel to the PartialView so its strongly typed now.*@
<partial name="_ListPartialView" model="listModel"></partial>

