@using ViewsExample.Models
@{ //Razor Code Block
    string appTitle = "Views Example";
    List<Person> people = new List<Person>()
{
        new Person() {Name="Gil",DateOfBirth = DateTime.Parse("2000-01-01"), PersonGender = Gender.Male},
        new Person() {Name="Gil",DateOfBirth = DateTime.Parse("2000-01-01"), PersonGender = Gender.Male},
        new Person() {Name="Gil",DateOfBirth = null, PersonGender = Gender.Male},
    };

}

@functions{
    double? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is not null)
        {
            return Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25);
        }
        else
        {
            return null;
        }
    }

    int x = 10;
    string Name { get; set; } = "Hello name";
 }
<!DOCTYPE html>
<html>
<head>
    <title>@appTitle</title> @*Razor Expression*@
    <meta charset="utf-8" />
</head>
<body>
    <h1>Welcome</h1>
    @for (int i = 0; i < 3; i++)
    {
        Person person = people[i];
        @: Hello to @Name
        <div>
            @person.Name
            <span>,</span>
            <span>@person.PersonGender</span>
            @if (person.DateOfBirth != null)
            {
                <span>@GetAge(person.DateOfBirth) years old</span>
            }
            else
            { <span>???</span>}
        </div>
    }
</body>
</html>