@{
    //Connect to the _Layout view
    //Default value of the Layout property is null
    //'~' represents the domain address, in this case localhost
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>
<p>Welcome to Creating Layout Views - Part 2</p>